h1 {
	font-size: 2em !important;
	text-align: center;
	margin-top: 25px !important;
}

#submit-button {
	width: 400px;
	background-color: #225EA3;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: auto;
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
}